{% extends "base.html" %}
{% block title%}Pseudo{% endblock %}
{% block navbar%}{% endblock %}
{% block content %}
 <h4>Fil som skal pseudonymiseres: {{g.orgfile}}</h4>
 <h4>Filnavn på ny pseudonymisert fil: {{g.newfile}}</h4>
  <form method="POST" action="" class="row g-3">      
{#    <input type="text" name="newFilename" placeholder="nytt filnavn" value="{{request.form['nyttnavn']}}" </input>
#}
  </div>
  </form>

<br>   

    <table class="table table-hover table-sm">
    <form method="POST" action="" >
  	<thead>
    		<tr>
			{% for h in g.header %}
			<th scope="col">{{ h }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
    	<tr>
      		{% for c in g.row0 %}
			<td>{{ c }}</td>
			{% endfor %}
		</tr>
    	<tr>
      		{% for c in g.row1 %}
			<td>{{ c }}</td>
			{% endfor %}
		</tr>
		<tr>
			{% for h in g.header %}
			<td>
				<div class="form-check form-switch">
  				<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" value="{{h}}" name="pseudo">
  				<label class="form-check-label" for="flexSwitchCheckDefault">Pseudo</label>
			</td>
			{% endfor %}
		</tr>
	</tbody>
    </table>
    <input type="submit" class="btn btn-outline-success my-2 my-sm-0" name="submit_button" value="Oppdater konfigurasjonsfil">
    </form>

    <h4>Konfigurasjonsfil:</h4>
    <div class="results">
      <pre>{{g.jsonfile}}</pre>
    </div>
  
    <form method="POST" action="" >
      <input class="btn btn-outline-success my-2 my-sm-0" type="submit" name="submit_button" value="Pseudonymiser fil">
    </form>
<br></br>  
{% endblock %}
