{% extends "base.html" %}
{% block title%}Leverandor{% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


 <div class="container">
     <div class="content-section">
     <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class = "form-group">
        <legend class = "border-bottom mb-4">{{ legend }}</legend>

		<div class = "form-group">
	      {{ form.pseudo_vars.label(class="form-control-label") }}
	      {% if form.pseudo_vars.errors %}
	  	    {{ form.pseudo_vars(class="form-control form-control-lg is-invalid") }}
	    	<div class="invalid-feedback">
	    	{% for error in form.pseudo_vars.errors %}
	      		<span>{{ error }}</span>
	    	{% endfor %}
	    	</div>
	      {% else %}
	  	    {{ form.pseudo_vars(class="form-control form-control-lg") }}
	      {% endif %}
	    </div>

		<div class = "form-group">
	      {{ form.fodselsnr.label(class="form-control-label") }}
	      {% if form.fodselsnr.errors %}
	  	    {{ form.fodselsnr(class="form-control form-control-lg is-invalid") }}
	    	<div class="invalid-feedback">
	    	{% for error in form.fodselsnr.errors %}
	      		<span>{{ error }}</span>
	    	{% endfor %}
	    	</div>
	      {% else %}
	  	    {{ form.fodselsnr(class="form-control form-control-lg") }}
	      {% endif %}
	    </div>


        <div class = "form-group">
	      {{ form.fornavn.label(class="form-control-label") }}
	      {% if form.fornavn.errors %}
	  	    {{ form.fornavn(class="form-control form-control-lg is-invalid") }}
	    	<div class="invalid-feedback">
	    	{% for error in form.fornavn.errors %}
	      		<span>{{ error }}</span>
	    	{% endfor %}
	    	</div>
	      {% else %}
	  	    {{ form.fornavn(class="form-control form-control-lg") }}
	      {% endif %}
	    </div>

		<div class = "form-group">
	      {{ form.mellomnavn.label(class="form-control-label") }}
	      {% if form.mellomnavn.errors %}
	  	    {{ form.mellomnavn(class="form-control form-control-lg is-invalid") }}
	    	<div class="invalid-feedback">
	    	{% for error in form.mellomnavn.errors %}
	      		<span>{{ error }}</span>
	    	{% endfor %}
	    	</div>
	      {% else %}
	  	    {{ form.mellomnavn(class="form-control form-control-lg") }}
	      {% endif %}
	    </div>

        <div class = "form-group">
	      {{ form.etternavn.label(class="form-control-label") }}
	      {% if form.etternavn.errors %}
	  	    {{ form.etternavn(class="form-control form-control-lg is-invalid") }}
	    	<div class="invalid-feedback">
	    	{% for error in form.etternavn.errors %}
	      		<span>{{ error }}</span>
	    	{% endfor %}
	    	</div>
	      {% else %}
	  	    {{ form.etternavn(class="form-control form-control-lg") }}
	      {% endif %}
	    </div>

        <div class = "form-group">
	      {{ form.fra_alder.label(class="form-control-label") }}
	      {% if form.fra_alder.errors %}
	  	    {{ form.fra_alder(class="form-control form-control-lg is-invalid") }}
	    	<div class="invalid-feedback">
	    	{% for error in form.fra_alder.errors %}
	      		<span>{{ error }}</span>
	    	{% endfor %}
	    	</div>
	      {% else %}
	  	    {{ form.fra_alder(class="form-control form-control-lg") }}
	      {% endif %}
	    </div>

		<div class = "form-group">
	      {{ form.til_alder.label(class="form-control-label") }}
	      {% if form.til_alder.errors %}
	  	    {{ form.til_alder(class="form-control form-control-lg is-invalid") }}
	    	<div class="invalid-feedback">
	    	{% for error in form.til_alder.errors %}
	      		<span>{{ error }}</span>
	    	{% endfor %}
	    	</div>
	      {% else %}
	  	    {{ form.til_alder(class="form-control form-control-lg") }}
	      {% endif %}
	    </div>

        <div class = "form-group">
	      {{ form.tidbef.label(class="form-control-label") }}
	      {% if form.tidbef.errors %}
	  	    {{ form.tidbef(class="form-control form-control-lg is-invalid") }}
	    	<div class="invalid-feedback">
	    	{% for error in form.tidbef.errors %}
	      		<span>{{ error }}</span>
	    	{% endfor %}
	    	</div>
	      {% else %}
	  	    {{ form.tidbef(class="form-control form-control-lg") }}
	      {% endif %}
	    </div>

        <div class = "form-group">
	      {{ form.sep.label(class="form-control-label") }}
	      {% if form.sep.errors %}
	  	    {{ form.sep(class="form-control form-control-lg is-invalid") }}
	    	<div class="invalid-feedback">
	    	{% for error in form.sep.errors %}
	      		<span>{{ error }}</span>
	    	{% endfor %}
	    	</div>
	      {% else %}
	  	    {{ form.sep(class="form-control form-control-lg") }}
	      {% endif %}
	    </div>

        <div class = "form-group">
	      {{ form.header.label(class="form-control-label") }}
	      {% if form.header.errors %}
	  	    {{ form.header(class="form-control form-control-lg is-invalid") }}
	    	<div class="invalid-feedback">
	    	{% for error in form.header.errors %}
	      		<span>{{ error }}</span>
	    	{% endfor %}
	    	</div>
	      {% else %}
	  	    {{ form.header(class="form-control form-control-lg") }}
	      {% endif %}
	    </div>

        <div class = "form-group">
	      {{ form.innlprog.label(class="form-control-label") }}
	      {% if form.innlprog.errors %}
	  	    {{ form.innlprog(class="form-control form-control-lg is-invalid") }}
	    	<div class="invalid-feedback">
	    	{% for error in form.innlprog.errors %}
	      		<span>{{ error }}</span>
	    	{% endfor %}
	    	</div>
	      {% else %}
	  	    {{ form.innlprog(class="form-control form-control-lg") }}
	      {% endif %}
	    </div>

        <div class = "form-group">
	      {{ form.bruk_navn.label(class="form-control-label") }}
	      {% if form.bruk_navn.errors %}
	  	    {{ form.bruk_navn(class="form-control form-control-lg is-invalid") }}
	    	<div class="invalid-feedback">
	    	{% for error in form.bruk_navn.errors %}
	      		<span>{{ error }}</span>
	    	{% endfor %}
	    	</div>
	      {% else %}
	  	    {{ form.bruk_navn(class="form-control form-control-lg") }}
	      {% endif %}
	    </div>

		<div class = "form-group">
	      {{ form.filstamme.label(class="form-control-label") }}
	      {% if form.filstamme.errors %}
	  	    {{ form.filstamme(class="form-control form-control-lg is-invalid") }}
	    	<div class="invalid-feedback">
	    	{% for error in form.filstamme.errors %}
	      		<span>{{ error }}</span>
	    	{% endfor %}
	    	</div>
	      {% else %}
	  	    {{ form.filstamme(class="form-control form-control-lg") }}
	      {% endif %}
	    </div>

      </fieldset>
      <div class = "form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
