{% extends "base.html" %}
{% block title%}Leverandor{% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<div class="container">
    <table class="table table-hover table-sm">
	<body>
        <tr>
      		{{ logg }}
		</tr>
	</body>
    </table>
</div>

{% endblock %}
