{% extends "base.html" %}
{% block title%}Index{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
  <div class="container">
  {% for lev in leverandorer.items %}

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
	  <a class="mr-2" href="{{ url_for('leverandorer.view') }}"></a>
	  <small class="text-muted">Leverandør:</small>
        <div>
	     <p class="article-title">Kortnavn: {{ lev.kort_lev }}</p>
	     <p class="article-content">Leverandørnavn: {{ lev.leverandor }}</p>
	     <p class="article-content">Websak: {{ lev.websak }}</p>
	     <p class="article-content">Ansvarlig seksjon: {{ lev.ansv_seksjon }}</p>
      </div>
    </article>
  {% endfor %}
  {% for page_num in leverandorer.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if leverandorer.page == page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('leverandorer.view', page=page_num) }}"> {{ page_num }} </a>
      {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('leverandorer.view', page=page_num) }}"> {{ page_num }} </a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
  </div>
{% endblock %} 
