<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css') }}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  {% block navbar %}{% include "navbar.html" %} {% endblock %}
  <br>
  <br>
  {% block flashed %}{% include "flashed.html" %}{% endblock %}
  <div class="container" id="content">
  {% block content %}{% endblock %}
  </div>
  <script src="{{url_for('static', filename = 'js/jquery-3.6.0.min.js') }}" type="text/javascript"></src>
  <script src="{{url_for('static', filename = 'js/bootstrap.min.js') }}"></src> 
</body>
</html>
