{% extends "base.html" %}
{% block title%}Index{% endblock %} 
{% block navbar%}{{super()}}{% endblock %}
{% block content %}
  {% for log in logs.items %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
	  <a class="mr-2" href="{{ url_for('users.user_log', username=log.author.username) }}">{{ log.author.username }}</a>
	  <small class="text-muted">{{ log.dato_opprettet.strftime('%Y-%m-%d') }}</small>
        <div>
	<p class="article-title">Kildefil: {{ log.kildefil }}</p>
	<p class="article-content">Pseudonymisert fil: {{ log.resultatfil }}</p> 
	<p class="article-content">Pseudonymiserte variable: {{ log.pseudo_var }}</p>
	<p class="article-content">Slettet: {{ log.delete_var }}</p>	
      </div>
    </article> 
    
  {% endfor %} 
  {% for page_num in logs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if logs.page == page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('logs.log', page=page_num) }}"> {{ page_num }} </a>
      {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('logs.log', page=page_num) }}"> {{ page_num }} </a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
{% endblock %} 
