{% extends "base.html" %}
{% block title%}Pseudo{% endblock %}
{% block navbar%}{{super()}}{% endblock %}
{% block content %}
  <form method="POST" action="{{url_for('getFolder') }}" class="d-flex">
    <div class="form-check form-switch" method="POST" action="{{url_for('visFil') }}">
     	{{ switcher.hidden_tag() }}
   	{{ form.name.label() }}
   	{{ form.name() }}
   	<br>
   	{{ form.submit() }}
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">Vis fil</label>
    </div>
  </form>
{% endblock %}
